Repository Osekai/osekai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Osekai/osekai, @EXtremeExploit, @TomyDoesThings, @minusQuantumNeko, @katk1, @thenerdie, @Remyria

remove version key from debug
  global/php/functionsEnd.php
Owners: none

Move tools to database
  db/1.template.sql
  tools/src/medal-name-quiz/README.md
  tools/src/medal-name-quiz/js/functions.js
  tools/src/medal-percentage-calc/README.md
  tools/src/medal-percentage-calc/js/functions.js
  tools/src/pp-calc/README.md
  tools/src/pp-calc/api/recent_scores.php
  tools/src/pp-calc/css/main.css
  tools/src/pp-calc/images/DT.png
  tools/src/pp-calc/images/EZ.png
  tools/src/pp-calc/images/FL.png
  tools/src/pp-calc/images/HD.png
  tools/src/pp-calc/images/HR.png
  tools/src/pp-calc/images/HT.png
  tools/src/pp-calc/index.php
  tools/src/pp-calc/js/functions.js
  tools/src/stdev-pp-calc/README.md
  tools/src/stdev-pp-calc/css/main.css
  tools/src/stdev-pp-calc/index.php
  tools/src/stdev-pp-calc/js/functions.js
  tools/tool.php
  tools/tools.php
Owners: none

Add progress and past tasks to osekai rankings
  global/js/variables.js
  rankings/api/api.php
  rankings/api/upload/scripts-rust/finish.php
  rankings/api/upload/scripts-rust/progression.php
  rankings/index.php
  rankings/js/functions.js
Owners: none

Fix idiotic mistake in language dropdown
  global/js/navbar.js
Owners: none

Fix some warnings c:
  global/api/notification_system.php
  home/team.php
Owners: none

add version to navbar js
  global/php/navbar.php
Owners: none

Update progression and db
  db/1.template.sql
  rankings/api/upload/scripts-rust/finish.php
Owners: none

Remove experimental status from tasks list rankings
  rankings/index.php
Owners: none

Add ?v= to rankings js
  rankings/index.php
Owners: none

Add ETA text to tasks on rankings
  rankings/js/functions.js
Owners: none

Add v key to most js src
  azelia/index.php
  badges/index.php
  global/php/functions.php
  global/php/medalHoverV2.php
  global/php/navbar.php
  global/php/search_overlay.php
  home/index.php
  medals/index.php
  misc/changelog/index.php
  misc/groups/index.php
  profiles/index.php
  rankings/index.php
  snapshots/index.php
  tools/index.php
  tools/src/comparer/index.php
  tools/tool.php
Owners: @EXtremeExploit

Replace all php echos with =
  authenticator/auth.php
  badges/index.php
  donate/index.php
  global/js/navbar.js
  global/php/commentsPanel.php
  global/php/functionsEnd.php
  global/php/osekaiReportSystem.php
  global/php/search_overlay.php
  home/index.php
  legal/contact.php
  rankings/index.php
  snapshots/index.php
Owners: none

Sort roles on homepage and wrap on smaller screens
  db/1.template.sql
  db/3.snippet.rankings.sql
  global/php/functions.php
  home/css/main.css
Owners: none

fix comments
  global/php/functions.php
Owners: none

Restore tooltip code
  global/js/main.js
Owners: none

Add tooltips to groups
  global/js/localization.js
  global/js/main.js
Owners: none

Fix rankings progress finish
  rankings/api/upload/scripts-rust/finish.php
Owners: none

fix htaccess http redirect
  .htaccess
Owners: @Osekai/osekai

Fix groups dropdown
  global/css/main.css
Owners: none

Update github_labels_proxy.php
  misc/changelog/api/github_labels_proxy.php
Owners: none

Use Int instead of String for tags on changelog
  misc/changelog/api/changelog_update.php
Owners: none

Merge JS files a bit, remove some unused stuff
  404/index.php
  authenticator/auth.php
  azelia/index.php
  badges/index.php
  donate/index.php
  global/js/dropdown_system.js
  global/js/main.js
  global/js/mobileManager.js
  global/js/navbar.js
  global/js/report_system.js
  global/php/functions.php
  global/php/navbar.php
  home/index.php
  home/testLocalization.php
  index.php
  legal/contact.php
  legal/licences.php
  legal/privacy.php
  medals/index.php
  misc/changelog/index.php
  misc/groups/index.php
  misc/translators/index.php
  omh/retro_achiever/index.php
  profiles/index.php
  rankings/index.php
  snapshots/index.php
  tools/index.php
  tools/tool.php
Owners: @Osekai/osekai

Move things out of navbar, so site can run without it
  global/php/functions.php
  global/php/navbar.php
  medals/index.php
Owners: none

Oops
  medals/index.php
Owners: none

this is navbar stuff
  global/js/main.js
  global/js/navbar.js
Owners: none

ok finally
  global/js/main.js
  global/js/navbar.js
Owners: none

finallyer
  global/js/main.js
  global/php/functions.php
  global/php/navbar.php
Owners: none

Change rankings limit from 1k to 2.5k
  rankings/api/api.php
Owners: none

fix width
  rankings/js/functions.js
Owners: none

Move snowflakes to JS
  global/css/main.css
  global/js/main.js
  global/php/navbar.php
Owners: none

Twemoji returns
  global/php/functions.php
  legal/licences.php
Owners: none

Twemoji returns
  global/js/comment_system.js
Owners: none

Make medals_nogrouping endpoint return JSON content type
  medals/api/medals_nogrouping.php
Owners: none

Update mastodon links
  global/php/navbar.php
  home/index.php
Owners: none

Remove invalid image url in main.css
  global/css/main.css
Owners: none

Fix scrolling after closing app dropdown
  global/js/navbar.js
Owners: none

Fonts thingie
  global/php/functions.php
Owners: none

Use Team API instead of loading on page generation & generate in JS
  home/api/team.php
  home/css/main.css
  home/index.php
  home/js/main.js
  home/team.php
Owners: none

Delete use of undefined experimentals function
  global/php/navbar.php
Owners: none

Add isset check to locale cookie getter
  global/php/osekaiLocalization.php
Owners: none

.github/CODEOWNERS:

/* @Osekai/osekai
/tools/src/comparer @EXtremeExploit
/tools/src/medal_name_quiz @TomyDoesThings
/tools/src/medal_percentage @minusQuantumNeko
/tools/src/ppcalc @katk1 @thenerdie
/tools/src/stdev_pp_calc @Remyria
